#left div{
    margin: 25px;
    font-size: 20px;
}
#emoji div{
    margin-left: 30px;

}
#emoji div:hover{
 
    color:#1A8CD8 ;
cursor: pointer ;
}

#left div:hover{
      color:white;
      background-color:#1A8CD8;
      border: solid;
      border-radius: 30px;
      padding: 5px;
 cursor: pointer;

}
#filter:hover{
    cursor: pointer;
    color: #1A8CD8;
}
.input{
    padding: 30px;
    border: none;
}
.input:focus{
    outline: none;
}