#left div{
    margin: 25px;
    font-size: 20px;
}
#emoji div{
    margin-left: 30px;

}
.group{
    margin-left: 40px;
}


#right{
    margin-top: 40px;
    margin-left: 30px;
    padding-top: 15px ;

}
#item{
    margin-left: 50px;
}

#item:hover{
    cursor: pointer;
    
}


.end{
    background-color: #EFF3F4;
    height: 600px;
    width: auto;
    border: thin;
    border-radius: 50px;
border: 0px 0px 0px 0px;
}


.top{
margin-top: 10px;
    padding: 10px 150px 10px 5px ;
    border-color: #1A8CD8;
    border-radius: 50px;
    background-color: #EFF3F4;
    
}
.top:focus{

background-color:white;

}
  
 


#emoji div:hover{
 
    color:#1A8CD8 ;
cursor: pointer ;
}

#left div:hover{
      color:white;
      background-color:#1A8CD8;
      border: solid;
      border-radius: 30px;
      padding: 5px;
 cursor: pointer;

}
#filter:hover{
    cursor: pointer;
    color: #1A8CD8;
}
.input{
    padding: 30px;
    border: none;
}
.input:focus{
    outline: none;
}